<footer class="d-flex justify-content-center container-fluid bg-dark text-light py-1 mt-auto">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <p>&copy; @DateTime.Now.Year - Graszioso Salvare</p>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <p>Development by Mike Darling</p>
            </div>
        </div>
    </div>
</footer>
